.title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
}
.first{
    color: rgb(255, 255, 255);
}
.back{
    background-image: linear-gradient(to right, black, rgb(70, 39, 70));
}