@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
.title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.7rem;
    font-family: "Bungee Shade", cursive;
}
.firstp{
    color: rgb(255, 255, 255);
    font-family: "Handjet", cursive;
    font-size: 1.2rem;
    padding: 1.3rem;
}
.back{
    background-image: linear-gradient(to right, rgb(15, 27, 41), black, rgb(43, 13, 13));
}
.list{
letter-spacing: 0.1rem;
text-align: center;
color: rgb(32, 94, 145);
text-shadow: 0.1rem 0.1rem rgb(0, 140, 255);
}
.middle{
padding-top: 7rem;
margin-bottom: 7rem;
}